.footer {
  background-color: $bg-footer;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__inner {
  @include flex($items: center);
  flex-direction: column;

@media screen and (min-width: 768px) {
    @include flex($content: space-around);
       flex-direction: row;
       flex-wrap: wrap;
    }
        @media screen and (min-width: 1200px) {
          @include flex($content: space-around, $items: baseLine);
        }
}

.footer__inner-contacts {
  text-align: center;

@media screen and (min-width: 768px) {
        margin-bottom: 60px;
    }
        @media screen and (min-width: 1200px) {
            text-align: left;
            margin-bottom: 0;
        }
}

.logo--footer {
  color: $white-color;
}

.footer__maps {
  color: $white-color;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  transition: color 250ms $cubic;

  & :hover {
    color: $accent-color;
  }
}
address {
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer__link {
  color: $white-color;
  opacity: 0.6;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  padding: 0;

  &--padding {
    margin-bottom: 9px;
  }
}

.footer__link-label {
  color: $white-color;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

  text-align: center;
@media screen and (min-width: 1200px) {
text-align: left;
    }
}

.footer__inner-svg {
  // margin-left: 70px;
  margin: 60px 0;

@media screen and (min-width: 768px) {
        margin: 0;
        @include flex ($items:center, $content:baseLine);
        flex-direction: column;
    }
        @media screen and (min-width: 1200px) {
            @include flex ($content: baseLine);
        }

  
}

/* FOOTER SVG */

.footer__list {
  display: inline-flex;
  gap: 10px;
}

.footer__link-svg {
  @include flex($display: inline-flex, $items: center, $content: center);

  list-style: none;

  color: $white-color;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $accent-color;
    cursor: pointer;
  }
}

.footer__icon {
  fill: $white-color;

  .footer__link-svg:hover &,
  .footer__link-svg:focus & {
    fill: $white-color;
  }
}

/* FOOTER FORM */

.conteiner-form-footer{
   @media screen and (min-width: 1200px) {
            @include flex ($items: flex-end);
            gap: 12px;
        } 
}

.footer-form__label {
  display: flex;
  flex-direction: column;

}

.footer-form__text {
  color: $white-color;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  text-align: center;
}

.footer-form__input {
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;

  color: #fff;

  @media screen and (min-width: 480px) {
    width: 358px;
  }
  margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
          margin-bottom: 0;
        }
}

.footer-form__btn {
  @include flex($items: center);

  background-color: $accent-color;
  color: $white-color;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;

  padding-left: 29px;
  padding-right: 29px;
  height: 50px;
  border: 0;
  border-radius: 4px;

  transition: background-color 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $btn-hero-hover;
  }

  margin: 0 auto;
}

.footer-form__icon {
  margin-left: 10px;
}
