.clients {
    @include flex($content: center);
      flex-wrap: wrap;
      gap: 30px;
  @media screen and (min-width: 768px) {
    @include flex($content: space-between);
  }
}



.clients__link {
  @include flex($display: inline-flex, $items: center, $content: center);
@media screen and (min-width:320px) {
    width: 130px;
    height: 92px;
  }
@media screen and (min-width:400px) {
    width: 170px;
      height: 92px;
}
  margin: 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: border 250ms $cubic, color 250ms $cubic;

  &:hover,
  &:focus {
    border-color: $accent-color;
    cursor: pointer;
    color: $accent-color;
  }

  & .clients__icon {
    fill: currentColor;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients-section__title {
  // margin-bottom: 50px;
  margin-bottom: 30px;
}
