.features {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.features__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;

  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  color: $secondary-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* SVG ICONS SECTION features*/

.features__icon {
  @include flex($display: flex, $items: center, $content: center);

  background-color: $secondary-bg-color;

  height: 120px;
  margin-bottom: 30px;
}
